.ShoppingListMain .header input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #fff;
  width: 165px;
}
.ShoppingListMain .header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #34495e;
  color: #fff;
  border: 2px solid #34495e;
}
.ShoppingListMain .header button:hover {
  background-color: black;
  border: 2px solid black;
  cursor: pointer;
}
.ShoppingListMain .theList {
  list-style: none;
  padding-left: 0;
  width: 250px;
}
.ShoppingListMain .theList li {
  color: #fff;
  background-color: rgba(52, 73, 94);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  transition: background-color 0.2s ease-out;
}
.ShoppingListMain .theList li:hover {
  background-color: black;
  cursor: pointer;
}
ul.theList {
  padding: 0;
}
.ShoppingListMain .theList li {
  color: #fff;
  background-color: rgba(52, 73, 94);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  transition: background-color 0.2s ease-out;
}
.ShoppingListMain .theList li:hover {
  background-color: black;
  cursor: pointer;
}
