body {
  padding: 50px;
  background-color: #c0292b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#container {
  display: flex;
  justify-content: center;
}
